* {font-family: "Roboto", sans-serif}
body{
    opacity: 0;
    transition: opacity 2s;
    min-height: 100vh;
    margin: 0;
}

nav.navbar a{
    margin-right: 20px;
}
#navbarSupportedContent{
    text-transform: uppercase;
}
nav.navbar a:hover{
    background:linear-gradient(
        45deg,
        hsla(209, 85%, 52%, 0.5),
        hsla(192, 88%, 45%, 0.5) 100%
      );
      border-radius: 10px;
}
#navbarSupportedContent .active{
    background: linear-gradient(
        45deg,
        hsla(209, 85%, 52%, 0.5),
        hsla(192, 88%, 45%, 0.5) 100%
      );
}

/* The hero image */
.hero-image{
    /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
    
    /* Set a specific height */
    width: 100%;
    height: 50%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

  }
  @keyframes sampanimation{
    0% {
        transform: rotate(0deg);
        left: 0px;
    }
    25% {
        transform: rotate(20deg);
        left: 0px;
    }
    50% {
        transform: rotate(0deg);
        left: 500px;
    }
    55% {
        transform: rotate(0deg);
        left: 500px;
    }
    70% {
        transform: rotate(0deg);
        left: 500px;
      
    }
    100% {
        transform: rotate(-360deg);
        left: 0px;
    }
  }
  div.animated-div{
    width: fit-content;
    margin-top: 25%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: sampanimation 4s;
  }
  
#home{
    background-color: lightskyblue;
}
#home a{
    position: relative;
    text-align: left;
    margin: auto;
}
.w3-display-container{
    position: relative;
    display:flex;
    flex-direction: column;
    margin-left: left;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,.2);
}
 .w3-display-container .imgBx{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 30px 80px;
     }
.w3-display-container .imgbx img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;  
    }
.about{
    
    background-color: lightskyblue;
    text-align: justify;
   

}
#about img{
    width: 300px;  
    margin-left: 50px;
    filter:sepia(100%);
    -webkit-filter: sepia(100%);
}
#about img:hover{
   
    filter:sepia(0);
}
.dropcap{
    padding-left: 5px;
    padding-right: 10px;
    float: left;
    position: relative;
    top: -0.35em;
    margin-bottom: -0.8em;
    margin-left: -6px;
    /* margin-right: 1px; */
    font-size: 100px;
    color: black;
}

#skills a.resume{
    text-decoration: none;
    
}
#skills h2, #skills p{
    width: 50%;
    margin: 10px auto;
}
#skills p{
    text-align: left;
}

#skilloverview .card{
    box-shadow: 0px 5px 10px rgba(66, 38, 38, 0.651);
    background: linear-gradient(
        45deg,
        hsla(209, 85%, 52%, 0.5),
        hsla(192, 88%, 45%, 0.5) 100%
      );
}
.card-body i{
    font-size: 50px;
}
#repo a{
    text-decoration:none;
    color: black;
    margin: 10px;
}
#email{
    color: blue;
 
}
.contact-icons{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
   
}
.contact-icons a{
    padding: 10px;
}
#contact form{
    text-align: center;
    width: 80%;
    box-shadow: rgba(76, 42, 42, 0.651);
    border: 1px solid salmon;
  
}
.profile-small{
    width: 30%;
    height: 30%;
    margin-top: 20px;

}

#recentprojects{
   margin: auto;
   
}
footer{
    margin:50px;
}

footer.container{
    background-color: aliceblue;
}

@media screen and (max-width: 600px) {

    #contact form{
        box-shadow: rgba(76, 42, 42, 0.651);
        width: 90%; 
    }

    div.animated-div{
        width: 100%;
        animation: sampanimation 4s;
        margin-top: 25%;
       
      }
      div.animated-div .btn{
        --bs-btn-font-size: 0.5rem;
      }
      .hero-text h1{
        font-size: small;
      }
      .hero-text p{
        font-size: small;
      }
      .hero-image{
        height: max-content;
      }
      .hero-image .profile-small{
        width:20%;
        margin-top: 2px;
      }
      #skills h2, #skills p {
        width: 100%;
        margin: 10px auto;
    }
  }
  @media screen and (max-width:1500px) and (min-width:900px){
    div.animated-div{
        width: 100%;
        animation: sampanimation 4s;
        margin-top: 30%;
      }
      div.animated-div .btn{
        --bs-btn-font-size: 0.5rem;
      }
    #about img{
        width:300px;
        margin-left:25%;
        --webkit-filter:sepia(100%)
    }
    .w3-display-container .imgBx{
        margin: 30px;
    }
    #skills h2, #skills p {
        width: 100%;
        margin: 10px auto;
    }
  }
  @media screen and (min-width:600px) and (max-width:880px){
    #about img{
        width:300px;
        margin-left:10%;
        --webkit-filter:sepia(100%)
    }
    div.animated-div .btn{
        --bs-btn-font-size: 0.5rem;
      }
    div.animated-div{
        width: 100%;
        animation: sampanimation 4s;
        margin-top: 30%;
      }
      #skills h2, #skills p {
        width: 100%;
        margin: 10px auto;
    }
  }
  @media screen and (min-width:300px) and (max-width:400px) {
    .w3-display-container .imgBx{
        margin: 30px;
    }
    div.animated-div .btn{
        --bs-btn-font-size: 0.5rem;
      }
    #skills h2, #skills p {
        width: 100%;
        margin: 10px auto;
    }
    
  }
  
  

